@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.loginbody{
	background-color:#F0FFF0;
  }
  .introduction{
   text-align:center;
   background-color:#353535;
   color:white;
   margin: 75px 25% 5px 25%;
  }
  .center {
   text-align:center;
   background-color:#353535;
   color:white;
   margin: 75px 25% 5px 25%;
  }
  #previous {
	background-color:tan;
  }
  #studio {
	width:30%;
  }
  .table-responsive{
	max-height:350px;
	overflow-y:scroll;
	display:block;
	margin-right:50px;
	background-color:#f8f8ff;
  }
  
  .head{
	text-align:center;
	margin:20px;
  }
  .getMargins{
	margin:0px 5% 5% 5%
	
  }
  .wholePage{
	background-color:#F0FFF0
  }
  #theInstructions{
	text-align:center
	
  }
  #possibleReoccuringChargesArea {
	margin:5px 30px
  }
  .autopayLinks{
   text-align:center;
   background-color:tan;
   margin: 75px 25% 5px 25%;
  }